<!-- expenses/templates/dashboard.html - Plantilla Dashboard de Gastos -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
        <p>Total Gastos: <strong>${{ total_expenses }}</strong></p>
        <div id="chart" style="height: 400px;"></div>
    </div>
</div>


<!-- Script para gráficos interactivos (usando Plotly.js) -->
<script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
<script>
    // Obtener los datos enviados por Django desde el contexto renderizado
    const expensesByCategory = JSON.parse('{{ expenses_by_category|safe }}');
        
    // Extraer datos para el gráfico
    const categories = expensesByCategory.map(item => item.category);
    const amounts = expensesByCategory.map(item => item.total_amount);

    // Datos simulados para el gráfico
    const data = [
        {
            type: 'bar',
            x: categories,
            y: amounts,
            marker: {
                color: ['#3357FF', '#33FF57', '#FF5733', '#F3FF33', '#D8BFD8'],  // color: ['#FF5733', '#33FF57', '#3357FF', '#F3FF33'],
                line: {
                    width: 2
                }
            }
        }
    ];

    // Configuración del diseño
    const layout = {
        //title: 'Distribución de Gastos',
        title: {
            text: 'Distribución de Gastos', // Texto del título
            font: {
                size: 20  // Tamaño de la fuente del título
            }
        },
        xaxis: {
            title: 'Categorías'
        },
        yaxis: {
            title: 'Monto ($)'
        },
        margin: {
            t: 40,
            l: 50,
            r: 10,
            b: 50
        }
    };

    var config = {responsive: true}

    // Renderiza el gráfico en el div con id "chart"
    Plotly.newPlot('chart', data, layout, config);
</script>

{% endblock %}
<!--

<h1>Dashboard</h1>
<p>Total Gastos: <strong>${{ total_expenses }}</strong></p>

<h2>Categorías Existentes</h2>
<ul>
    {% for category in all_categories %}
        <li>{{ category }}</li>
    {% endfor %}
</ul>

<h2>Gastos Totales por Categoría</h2>
<table>
    <thead>
        <tr>
            <th>Categoría</th>
            <th>Total Gastos ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for item in expenses_by_category %}
        <tr>
            <td>{{ item.category }}</td>
            <td>${{ item.total_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Categoría con Mayor Gasto</h2>
{% if highest_spending_category %}
    <p>
        Categoría: <strong>{{ highest_spending_category.category }}</strong><br>
        Gasto Total: <strong>${{ highest_spending_category.total_amount }}</strong>
    </p>
{% else %}
    <p>No hay datos disponibles.</p>
{% endif %}


-->